.post{
}
.box_1{
    margin-top: 80px;
    justify-content: center;
    flex-basis: 60%;
   display: flex;
   flex-wrap: wrap;    
}
.card_1{
    border-radius: 30px;
    margin: 20px 10px;
   max-width: 420px;
    box-shadow: 0 2px 10px rgba(63, 62, 62, 0.425);
}
.card_1 h1{
    font-size: 1.5rem;
}
.card_1 p {
    font-size: 16px;
}
.card_box_1{
    height: 40%;
}
.card_box_1 img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
.card_box_2{
    height: 47%;
    padding: 10px;
}
.date{
    color: rgb(95, 94, 94);
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.339);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.date p{
    font-size: 14px;
}
.btn{
    background-color: #fe9344;
    display: inline-block;
    padding: 8px 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-width: 0;
    border-radius: 20px;
    border: 1px solid #fe9344;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.mini_nav{
    width: 100%;
}
.mini_nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    
}
.mini_nav ul li{
    margin: 10px 10px;
    border-radius: 20px;
    padding: 10px 20px;
    background: #fe9344;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
}