@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");


.inner_home {


}

.mini_con {
  position: absolute;
  top: 10vh;
  width: 100%;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_con {
   background:  url('../../public/img/bg3.jpeg') ;
  background-size: cover;
  border-radius: 10px;
  min-width: 750px;
  height: 640px;
}

.text_con {
  position: absolute;
  margin-left: -30%;
  z-index: 5;
  border-radius: 10px;
  width: 550px;
  min-height: 550px;
  background-color: rgba(255, 255, 255, 0.94);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}
.text_con h1 {
  margin-top: 90px;
  font-family:  Sans-serif;
  font-size: 3rem;
  line-height: 52px;
  font-weight: 800;
}
.text_con p {
  color: #2b2b2c;
  font-size: 18px;
}
.btn_con {
  display: flex;

}

.logIn {
  /* background-color: #fe9344;
  display: inline-block;
  padding: 8px 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-width: 0;
  border-radius: 20px;
  border: 1px solid #fe9344;
  color: #fff;
  transition: 0.3s ease-in-out;
  opacity: 4;
  margin: 0 12px;
  font-size: 18px; */
  width: 130px;
  font-size: 18px;
  border: 1px solid #fe9344;
  background-color: #fe9344;
  color: white;
  border-radius: 20px;
  margin:  0 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  
}
.logIn:hover {
  color: #fe9344;
  border: 1px solid #fe9344;
  background: transparent;
}
.read {
  display: inline-block;
  padding: 8px 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-width: 0;
  border-radius: 20px;
  color: #fe9344;
  border: 1px solid #fe9344;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}
.read:hover {
  color: white;
  background-color: #fe9344;
}
@media screen and (max-width: 969px) {
  .mini_con{
    width: 100%;
  }
  .img_con {
    position: relative;
    left: 0;
  }
  .text_con {
    position: absolute;
    margin-left: -20%;
  }
  .image{
    width: 800px;
  }
}
@media screen and (max-width: 869px) {
  .inner_home img{
    display: none;
  }
  .mini_con{
    position: relative;
    top: 0;
    width: 100%;
    height: 80%;
  background: linear-gradient(0deg,rgba(30, 30, 30, 0.075),rgba(11, 11, 11, 0.455),rgba(0, 0, 0, 0.347),rgba(0,0,0,0.6)), url('../../public/img/bg3.jpeg') ;
  background-size: cover;
  background-position: right;
  border-radius: 0;
  }
  .text_con{
    background-color: rgb(254, 254, 254);
  }
  .img_con{
   display: none;
  }
  .text_con{
   position: initial;
   margin-left: 0%;
  width: 70%;
  height: 200px;
    
  }
  .btn_con{
   
  }
  
}

@media screen and (max-width: 580px) {
  .mini_con{
    background-position: center;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
 .mini_con{
  height: 60vh;
 }
}
@media screen and (max-width: 470px) {
  .text_con {
    justify-content:flex-start;
    
  }
  .text_con h1{
    font-size: 2.5rem;
  }
  .text_con p{
    font-size: 16px;
  }
}
