.nav{
    box-shadow: 0px 0px 3px rgb(90, 88, 88);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    font-size: 20px;
}
.image{
    border-radius: 50px;
    margin-left: 10px;
}
.logo a{
  text-decoration: none;
  color: #fe9344;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: sans-serif;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul li{
    margin: 10px 15px;
    list-style: none;
}
.nav ul li a{
    font-size: 18px;
    text-decoration: none;
     color: black;
}
.nav ul li a:hover{
    color: #fe9344;
}
.hamburger{
    text-decoration: none;
    display: none;
}


.nav_img{
    list-style: none;
}
.nav_img .mini_nav{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 7.5vh;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 5px rgb(182, 182, 182);
    width: 95px;
    margin-left: 15px;
}
.nav_img ul li:hover > .mini_nav{
    display: flex;
}
.mini_nav li{  
    width: 100%;    
}
.mini_nav li {
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.li_img{
    width: 80px;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.li_img img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}
@media screen and (max-width: 646px) {
    .hamburger{
        display: block;
        text-align: center;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .logo{
        position: relative;
        z-index: 99;
    }
    .image{
        position: relative;
        z-index: 99;
    }
    .nav .ul{
        display: none;
        transition: .2s ease-in-out;
    }
    .burger{
        text-decoration: none;
        font-size: 1.4rem;
    }
    .nav .open{
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: white;
       width: 100%;
       height: 100%;
    }
    .nav .close{
        position: relative;
        z-index: 99;
        color: black;
        font-size: 1.3rem;
    }
    .nav ul li{
        font-size: 20px;
    }
}
@media screen and (max-width: 750px) {
    .nav_img{
        
        text-align: left;
    }
    .nav_img ul{
        display: flex;
        
    }
    .nav_img ul li{
        margin-right: 50px;
    }
}
@media screen and (max-width: 437px) {

    .nav_img ul{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
    }
    .nav_img ul li .mini_nav{
        margin-right: 12px;
        width: 80px;
    }
}